
@{
    ViewBag.Title = "Sobre";
}
<div class="d-md-flex">
    @*Minha Fotografia*@
    <div class="text-center">
        <img src="~/Content/me.jpg" width="320" height="320" />
    </div>
    <div class="d-md-flex flex-column justify-content-around">
        @*Nome da Disciplina *@
        <h4 class="ml-4">Tecnologia da Internet II</h4>
        @*Escola*@
        <div class="ml-4">
            <h2>Engenharia Informática</h2>
        </div>
        @*Ano lectivo*@
        <div class="ml-4">
            <h3>2018/2019</h3>
        </div>
        @*Nome*@
        <div class="ml-4">
            <h3>Raquel Guedes Nº19994</h3>
        </div>
    </div>
</div>
@*Dados Relevantes*@
<div class="sinopse">
    <h4> Dados Relevantes</h4>
</div>
<div class="ml-4">
    <h5> <b>Administrador: </b>Admin@admin.adm<br /> <b>Password:</b>Qwe123.</h5>
    <h5> <b>Utilizador Dora Fernandes: </b>dora_estrela97@ipt.pt<br /> <b>Password:</b>123Querty#</h5>
    <h5> <b>Utilizador João Manuel: </b>joao2000@ipt.pt<br /> <b>Password:</b>123Querty#</h5>
    <h5> <b>Utilizador Tatiana Pereira: </b>tatianaPereira@ipt.pt<br /> <b>Password:</b>123Querty#</h5>

</div>